# Operazioni CRUD con Cassandra

Cassandra si installa dalla distribuzione [Datastax](https://downloads.datastax.com/#ddac) che consente di scaricare un archivio da posizionare dove si vuole nel percorso delle cartelle. In alternativa si può scaricare Cassandra direttamente da [Apache.org](https://cassandra.apache.org/download/). Su MacOS utilizzeremo direttamente  `brew`. Una volta aggiunto il percorso ```/path/to/cassandra/bin``` alla propria variabile di ambiente ```PATH``` si può accedere all'istanza del server digitando semplicemente ```cassandra```. Dopo l'avvio del server si potrà accedere alla shell interattiva digitando ```cqlsh```.

## Comandi di shell

Una volta connessi al server attraverso ```cqlsh``` si possono usare diversi comandi di shell:

```
DESCRIBE               -- descrive lo stato generale del sistema piuttosto che singoli keyspace, tabelle o colonne
SHOW                   -- mostra informazioni su Cassandra e sul host cui si è connessi
CLEAR                  -- pulisce la shell
CONSISTENCY            -- riporta o imposta il livello di consistenza
SOURCE 'file'          -- esegue un file di comandi CQL
COPY table TO 'file'   -- copia una tabella su un file csv
COPY table FROM 'file' -- importa una tabella esistente da un file csv
EXIT                   -- uscita
LOGIN username [pass]  -- login come utente registrato
```

## Comandi CQL

Il corrispondente di un database è un keyspace che va creato ed utilizzato prima di creare le column family.

```
CREATE  KEYSPACE [IF NOT EXISTS] keyspace_name 
   WITH REPLICATION = { 
      'class' : 'SimpleStrategy', 'replication_factor' : N 
     | 'class' : 'NetworkTopologyStrategy', 
       'dc1_name' : N [, ...] 
   }
   [AND DURABLE_WRITES =  true|false] ;
   
   
USE keyspace_name;
```

La creazione di una column family richiede la specifica del [tipo CQL](https://docs.datastax.com/en/cql/3.3/cql/cql_reference/cql_data_types_c.html) delle varie colonne.

```
CREATE TABLE [IF NOT EXISTS] [keyspace_name.]table_name ( 
   column_definition [, ...]
   PRIMARY KEY (column_name [, column_name ...])
[WITH table_options
   | CLUSTERING ORDER BY (clustering_column_name order])
   | ID = 'table_hash_tag'
   | COMPACT STORAGE]
```

Creiamo il keyspace del Titanic con la tabella passeggeri.

```sql
CREATE KEYSPACE titanic WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 3};

USE titanic;

CREATE TABLE passengers (PassengerId int PRIMARY KEY, Survived int, Pclass int , 
   Name text , Sex text , Age float , SibSp int, Parch int, Ticket text, 
   Fare float, Cabin text, Embarked text);

COPY passengers (passengerid , survived , pclass , name , sex , age , sibsp , parch , ticket , fare , cabin , embarked ) 
FROM './Data/titanic.csv'  
WITH SKIPROWS = 1;

```

Le query sulle tabelle si effettuano con il costrutto ```SELECT``` e si possono creare indici su colonna per le clausole ```WHERE```.

```
CREATE INDEX IF NOT EXISTS index_name
ON keyspace_name.table_name ( KEYS ( column_name ) )

SELECT * | select_expression | DISTINCT partition 
FROM [keyspace_name.] table_name 
[WHERE partition_value
   [AND clustering_filters 
   [AND static_filters]]] 
[ORDER BY PK_column_name ASC|DESC] 
[LIMIT N]
[ALLOW FILTERING]
```
Selezioniamo tutte le righe.
Contiamo i passeggeri di terza classe.
Selezioniamo nome e cabina dei passeggeri di prima e seconda classe.

```sql
CREATE INDEX IF NOT EXISTS class ON passengers (pclass);

SELECT COUNT(*) FROM passengers WHERE pclass = 3;

SELECT name, cabin FROM passengers WHERE pclass < 3 ALLOW FILTERING ;
```

L'alterazione si esegue con ```ALTER```.

```
ALTER TABLE [keyspace_name.] table_name 
[ALTER column_name TYPE cql_type]
[ADD (column_definition_list)]
[DROP column_list | COMPACT STORAGE ]
[RENAME column_name TO column_name]
[WITH table_properties];

ALTER  KEYSPACE keyspace_name 
   WITH REPLICATION = { 
      'class' : 'SimpleStrategy', 'replication_factor' : N  
     | 'class' : 'NetworkTopologyStrategy', 'dc1_name' : N [, ...] 
   }
   [AND DURABLE_WRITES =  true|false] ;
```
Eliminiamo una colonna:

```sql
ALTER TABLE passengers DROP sibsp;
```

L'inserimento dati si esegue con ```INSERT```.

```
INSERT INTO [keyspace_name.] table_name (column_list) 
VALUES (column_values) 
[IF NOT EXISTS] 
[USING TTL seconds | TIMESTAMP epoch_in_microseconds]
```
La cancellazione si esegue con ```DELETE```.

```
DELETE [column_name (term)][, ...]
FROM [keyspace_name.] table_name 
[USING TIMESTAMP timestamp_value]
WHERE PK_column_conditions 
[IF EXISTS | IF static_column_conditions]
```

Inseriamo un nuovo passeggero e poi rimuoviamolo.

```sql
INSERT INTO passengers (passengerid , age , cabin , embarked , fare , name , parch , pclass , sex , survived , ticket ) 
VALUES ( 892, 45.0, 'Z76', 'S', 456.789, 'John Smith', 2, 1, 'male', 1, 'TicketOne');

DELETE name, sex FROM passengers WHERE passengerid = 891;

SELECT * FROM passengers WHERE passengerid = 891; # i valori cancellati sono nulli

DELETE FROM passengers WHERE passengerid = 891;
```
L'aggiornamento si effettua con ```UPDATE```.

```
UPDATE [keyspace_name.] table_name
[USING TTL time_value | USING TIMESTAMP timestamp_value]
SET assignment [, assignment] . . . 
WHERE row_specification
[IF EXISTS | IF condition [AND condition] . . .] ;
```
Modifichiamo il tipo di biglietto del passeggero n. 892.

```sql
UPDATE passengers SET ticket = 'VivaTicket' WHERE passengerid = 892;
```


La rimozione si esegue con il comando ```DROP```.

```
DROP TABLE [IF EXISTS] keyspace_name.table_name

DROP KEYSPACE [IF EXISTS] keyspace_name

DROP INDEX [IF EXISTS] [keyspace.]index_name

```
Rimuoviamo la tabella dei passeggeri

```sql
DROP TABLE passengers;
```

## Aggregazione

E' possibile creare funzioni e aggregazioni definite dall'utente usando codice Java o Javascript, ma ci sono già disponibili ```MAX, MIN, COUNT, AVG```. Per gestire al meglio le query complesse con aggregazioni e raggruppamenti bisogna creare le giuste chiavi primarie che creano la cosiddetta _partition key_. 

Al fine di rendere efficienti le query di ricerca e aggregazione, è bene creare una tabella con chiave primaria composita con una struttura che ricalchi il seguente esempio.

```sql
CREATE TABLE example (
    partitionKey1 text,
    partitionKey2 text,
    clusterKey1 text,
    clusterKey2 text,
    normalField1 text,
    normalField2 text,
    PRIMARY KEY (
        (partitionKey1, partitionKey2),
        clusterKey1, clusterKey2
        )
    );
```

Questa chiave è composita e contiene, nella prima parte, tutti e soli i campi che serviranno nelle clausole ```WHERE``` e ```GROUP BY``` della query (unici consentiti per altro).  
I campi che fanno parte di quella porzione della chiave primaria che è utilizzata per il clustering delle righe, sono quelli che effettivamente distinguono le singole righe e quindi consentono di raggruppare più righe distinte per lo stesso valore dei campi della partition key. Tali righe costituiscono la base per eseguire efficientemente le aggregazioni.

Ricreiamo la struttura della tabella dei passeggeri e calcoliamo il numero e l'età media dei passeggeri sopravvissuti per classe e per genere.

```sql
CREATE TABLE passengers (
    survived int,
    class int,
    sex text,
    id int,
    age float,
    cabin text,
    embarked text,
    fare float,
    name text,
    parch int,
    sibsp int,
    ticket text,
    PRIMARY KEY ((survived, class, sex), id)
) WITH CLUSTERING ORDER BY (id ASC);

COPY passengers (id , survived , class , name , sex , age , sibsp , parch , ticket , fare , cabin , embarked ) FROM './src/github repositories/Big-Data/Data/titanic.csv' WITH SKIPROWS = 1;

SELECT DISTINCT survived, class, sex FROM passengers ;

SELECT COUNT(*) AS num_of_pass, AVG(age) as average_age, sex, class FROM passengers WHERE survived=1 AND class < 4 GROUP BY class, sex ALLOW FILTERING;
```

## Utilizzo del driver Python per Cassandra

Il driver può essere installato usando ```conda```.

```sh
$ conda install -c conda-forge cassandra-driver
```

In [1]:
"""
import cassandra.cluster as ccl
import cassandra.policies as pol

# connessione ad un cluster composto da tre nodi,
# in ascolto sulla porta 9042, con una determinata
# politica di bilanciamento del carico di tipo round-robin

cluster = ccl.Cluster(
    ['10.1.1.3', '10.1.1.4', '10.1.1.5'],
    load_balancing_policy=pol.DCAwareRoundRobinPolicy(local_dc='US_EAST'),
    port=9042)
""" 
import cassandra.cluster as ccl

# connessione al cluster di default
cluster = ccl.Cluster()
session = cluster.connect()

In [2]:
# creiamo ed usiamo il keyspace
session.execute("CREATE KEYSPACE titanic WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 3}")
session.set_keyspace('titanic')

# session.execute('USE titanic')

In [3]:
# Creiamo la tabella 
query = "CREATE TABLE titanic.passengers (\
    survived int,\
    class int,\
    sex text,\
    id int,\
    age float,\
    cabin text,\
    embarked text,\
    fare float,\
    name text,\
    parch int,\
    sibsp int,\
    ticket text,\
    PRIMARY KEY ((survived, class, sex), id)\
) WITH CLUSTERING ORDER BY (id ASC)"

session.execute(query)

In [4]:
# importiamo i dati dal dataset csv
# COPY è un comando di cqlsh e non un comando CQL
# quindi lo eseguiremo invocando cqlsh e passando
# il comando da eseguire
import os

os.system("cqlsh -k titanic -e \"COPY passengers (id , survived , class , name , sex , age , sibsp , parch , ticket , fare , cabin , embarked ) FROM 'Data/titanic.csv' WITH SKIPROWS = 1\"")

0

In [5]:
# Eseguiamo una query di insert
session.execute("""
INSERT INTO titanic.passengers (
    survived,
    class,
    sex,
    id, 
    age,
    cabin,
    embarked,
    fare,
    name,
    parch,
    sibsp,
    ticket) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""",
                ( 1, 1, 'male', 892, 45.0, 'Z76', 'S', 456.789, 'John Smith', 2, 1, 'TicketOne'))

In [6]:
# Eseguiamo una query di selezione
rows = session.execute('SELECT name, age, cabin, fare FROM titanic.passengers WHERE id > 880 ALLOW FILTERING')

for row in rows:
    print(row.name, row.age, row.cabin, row.fare, sep='\n', end='\n-------------\n')

Dahlberg, Miss. Gerda Ulrika
22.0
None
10.51669979095459
-------------
Rice, Mrs. William (Margaret Norton)
39.0
None
29.125
-------------
Johnston, Miss. Catherine Helen "Carrie"""
None
None
23.450000762939453
-------------
Shelley, Mrs. William (Imanita Parrish Hall)
25.0
None
26.0
-------------
Banfield, Mr. Frederick James
28.0
None
10.5
-------------
Montvila, Rev. Juozas
27.0
None
13.0
-------------
Behr, Mr. Karl Howell
26.0
C148
30.0
-------------
John Smith
45.0
Z76
456.78900146484375
-------------
Markun, Mr. Johann
33.0
None
7.8958001136779785
-------------
Sutehall, Mr. Henry Jr
25.0
None
7.050000190734863
-------------
Dooley, Mr. Patrick
32.0
None
7.75
-------------
Graham, Miss. Margaret Edith
19.0
B42
30.0
-------------

In [7]:
# Eseguiamo una query invocando esplicitamente la classe SimpleStatement che
# definisce i comandi CQL nella API del driver
import cassandra

query = cassandra.query.SimpleStatement(
    "INSERT INTO titanic.passengers (survived, class, sex, id, name, age) VALUES (%s, %s, %s, %s, %s, %s)",
    consistency_level=cassandra.ConsistencyLevel.ONE) # pleonastico perché c'è un solo nodo nel nostro cluster

session.execute(query, (0, 3, 'female', 893, 'Mrs. Melania De Avilland', 42))

In [8]:
# E' possibile preparare le query ed eseguirle parametricamente
# con la classe PreparedStatement per la quale si può impostare il livello di consistenza

survived_per_class_stmt = session.prepare("SELECT * FROM titanic.passengers WHERE survived = 1 AND  class = ? ALLOW FILTERING")
survived_per_class_stmt.consistency_level = cassandra.ConsistencyLevel.ONE

survived = []
for pclass in [1,2,3]:
    passengers = session.execute(survived_per_class_stmt, [pclass])
    survived.append(passengers)

In [9]:
for passenger in survived[0]:
    print(passenger.name,passenger.sex,sep='\n',end='\n---------------\n')

Sloper, Mr. William Thompson
male
---------------
Woolner, Mr. Hugh
male
---------------
Greenfield, Mr. William Bertram
male
---------------
Romaine, Mr. Charles Hallace ("Mr C Rolmane"")"
male
---------------
Blank, Mr. Henry
male
---------------
Hoyt, Mr. Frederick Maxfield
male
---------------
Beckwith, Mr. Richard Leonard
male
---------------
Saalfeld, Mr. Adolphe
male
---------------
Allison, Master. Hudson Trevor
male
---------------
Harder, Mr. George Achilles
male
---------------
Carter, Mr. William Ernest
male
---------------
Bjornstrom-Steffansson, Mr. Mauritz Hakan
male
---------------
Dodge, Master. Washington
male
---------------
Seward, Mr. Frederic Kimber
male
---------------
Peuchen, Major. Arthur Godfrey
male
---------------
Goldenberg, Mr. Samuel L
male
---------------
Anderson, Mr. Harry
male
---------------
Bishop, Mr. Dickinson H
male
---------------
Bradley, Mr. George ("George Arthur Brayton"")"
male
---------------
McGough, Mr. James Robert
male
---------------
Thayer, Mr. John Borland Jr
male
---------------
Flynn, Mr. John Irwin ("Irving"")"
male
---------------
Frolicher-Stehli, Mr. Maxmillian
male
---------------
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan"")"
male
---------------
Homer, Mr. Harry ("Mr E Haven"")"
male
---------------
Daniel, Mr. Robert Williams
male
---------------
Kimball, Mr. Edwin Nelson Jr
male
---------------
Barkworth, Mr. Algernon Henry Wilson
male
---------------
Stahelin-Maeglin, Dr. Max
male
---------------
Harper, Mr. Henry Sleeper
male
---------------
Simonius-Blumer, Col. Oberst Alfons
male
---------------
Frauenthal, Dr. Henry William
male
---------------
Cardeza, Mr. Thomas Drake Martinez
male
---------------
Hassab, Mr. Hammad
male
---------------
Dick, Mr. Albert Adrian
male
---------------
Silverthorne, Mr. Spencer Victor
male
---------------
Calderhead, Mr. Edward Pennington
male
---------------
Taylor, Mr. Elmer Zebley
male
---------------
Chambers, Mr. Norman Campbell
male
---------------
Lesurer, Mr. Gustave J
male
---------------
Hawksford, Mr. Walter James
male
---------------
Carter, Master. William Thornton II
male
---------------
Marechal, Mr. Pierre
male
---------------
Daly, Mr. Peter Denis
male
---------------
Behr, Mr. Karl Howell
male
---------------
John Smith
male
---------------
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
female
---------------
Futrelle, Mrs. Jacques Heath (Lily May Peel)
female
---------------
Bonnell, Miss. Elizabeth
female
---------------
Spencer, Mrs. William Augustus (Marie Eugenie)
female
---------------
Harper, Mrs. Henry Sleeper (Myna Haxtun)
female
---------------
Icard, Miss. Amelie
female
---------------
Fortune, Miss. Mabel Helen
female
---------------
Newsom, Miss. Helen Monypeny
female
---------------
Pears, Mrs. Thomas (Edith Wearne)
female
---------------
Chibnall, Mrs. (Edith Martha Bowerman)
female
---------------
Brown, Mrs. James Joseph (Margaret Tobin)
female
---------------
Lurette, Miss. Elise
female
---------------
Newell, Miss. Madeleine
female
---------------
Bazzani, Miss. Albina
female
---------------
Harris, Mrs. Henry Birkhardt (Irene Wallach)
female
---------------
Thorne, Mrs. Gertrude Maybelle
female
---------------
Cherry, Miss. Gladys
female
---------------
Ward, Miss. Anna
female
---------------
Graham, Mrs. William Thompson (Edith Junkins)
female
---------------
Bissette, Miss. Amelia
female
---------------
Andrews, Miss. Kornelia Theodosia
female
---------------
Barber, Miss. Ellen "Nellie"""
female
---------------
Bishop, Mrs. Dickinson H (Helen Walton)
female
---------------
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
female
---------------
Fleming, Miss. Margaret
female
---------------
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
female
---------------
Francatelli, Miss. Laura Mabel
female
---------------
Hays, Miss. Margaret Bechstein
female
---------------
Ryerson, Miss. Emily Borie
female
---------------
Wick, Miss. Mary Natalie
female
---------------
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
female
---------------
Young, Miss. Marie Grice
female
---------------
Hippach, Miss. Jean Gertrude
female
---------------
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
female
---------------
Burns, Miss. Elizabeth Margaret
female
---------------
Fortune, Miss. Alice Elizabeth
female
---------------
Bowerman, Miss. Elsie Edith
female
---------------
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
female
---------------
Aubart, Mme. Leontine Pauline
female
---------------
Meyer, Mrs. Edgar Joseph (Leila Saks)
female
---------------
Bidois, Miss. Rosalie
female
---------------
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
female
---------------
Newell, Miss. Marjorie
female
---------------
Minahan, Miss. Daisy E
female
---------------
Carter, Miss. Lucile Polk
female
---------------
Kenyon, Mrs. Frederick R (Marion)
female
---------------
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
female
---------------
Eustis, Miss. Elizabeth Mussey
female
---------------
Maioni, Miss. Roberta
female
---------------
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
female
---------------
Perreault, Miss. Anne
female
---------------
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
female
---------------
LeRoy, Miss. Bertha
female
---------------
Frolicher, Miss. Hedwig Margaritha
female
---------------
Crosby, Miss. Harriet R
female
---------------
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan"")"
female
---------------
Taussig, Mrs. Emil (Tillie Mandelbaum)
female
---------------
Appleton, Mrs. Edward Dale (Charlotte Lamson)
female
---------------
Silvey, Mrs. William Baird (Alice Munger)
female
---------------
Thayer, Mrs. John Borland (Marian Longstreth Morris)
female
---------------
Taussig, Miss. Ruth
female
---------------
Stephenson, Mrs. Walter Bertram (Martha Eustis)
female
---------------
Shutes, Miss. Elizabeth W
female
---------------
Longley, Miss. Gretchen Fiske
female
---------------
Sagesser, Mlle. Emma
female
---------------
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
female
---------------
Madill, Miss. Georgette Alexandra
female
---------------
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
female
---------------
Cleaver, Miss. Alice
female
---------------
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers"")"
female
---------------
Endres, Miss. Caroline Louise
female
---------------
Allen, Miss. Elisabeth Walton
female
---------------
Ryerson, Miss. Susan Parker "Suzette"""
female
---------------
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
female
---------------
Carter, Mrs. William Ernest (Lucile Polk)
female
---------------
Hogeboom, Mrs. John C (Anna Andrews)
female
---------------
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
female
---------------
Dick, Mrs. Albert Adrian (Vera Gillespie)
female
---------------
Leader, Dr. Alice (Farnham)
female
---------------
Chambers, Mrs. Norman Campbell (Bertha Griggs)
female
---------------
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
female
---------------
Stone, Mrs. George Nelson (Martha Evelyn)
female
---------------
Compton, Miss. Sara Rebecca
female
---------------
Serepeca, Miss. Augusta
female
---------------
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
female
---------------
Lines, Miss. Mary Conover
female
---------------
Wick, Mrs. George Dennick (Mary Hitchcock)
female
---------------
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
female
---------------
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
female
---------------
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
female
---------------
Graham, Miss. Margaret Edith
female
---------------

### Esecuzione asincrona

L'esecuzione asincrona consente di inviare la query continuare l'esecuzione e poi raccogliere i risultati. Si possono anche definire delle callback per la gestione del successo e del fallimento della query.

Nel seguente esempio si gestiscono delle query concorrenti.

```python
# Questa è l'eccezione di timeout delle query
from cassandra import ReadTimeout

# lista dei risultati futuri
futures = []
query = "SELECT * FROM users WHERE user_id=%s"
for user_id in ids_to_fetch:
    futures.append(session.execute_async(query, [user_id])

# le query vengono eseguite in modo asincrono e concorrente
# e questo codice attende che siano finite
for future in futures:
    rows = future.result()
    print rows[0].name

```
Esempio di definizione delle funzioni di callback.

```python

# definiamo le due callback
def handle_success(rows):
    user = rows[0]
    try:
        process_user(user.name, user.age, user.id)
    except Exception:
        log.error("Failed to process user %s", user.id)

def handle_error(exception):
    log.error("Failed to fetch user info: %s", exception)

# lanciamo la query asincrona e agganciamo le due funzioni di callback
future = session.execute_async(query)
future.add_callbacks(handle_success, handle_error)
```

### Utilizzo degli Object Mapper

In [10]:
# Effettuiamo il drop della tabella

session.execute('DROP TABLE titanic.passengers')

In [12]:
# La API per generare gli Object Mapper
# si trova nel modulo cassandra.cqlengine
import cassandra
from cassandra.cqlengine import columns
from cassandra.cqlengine import connection
from datetime import datetime
from cassandra.cqlengine.management import sync_table
from cassandra.cqlengine.models import Model


# setup della connessione
connection.setup(['127.0.0.1'],'titanic',consistency=cassandra.ConsistencyLevel.ONE)

In [13]:
# Creazione del modello dei dati,
# cioè la tabella, come classe derivata dsa Model

class Passengers(Model):
    survived = columns.Integer(primary_key=True,partition_key=True)
    pclass = columns.Integer(primary_key=True,partition_key=True)
    sex = columns.Text(primary_key=True,partition_key=True)
    pid = columns.Integer(primary_key=True, clustering_order='asc') 
    age = columns.Float()
    cabin = columns.Text()
    embarked = columns.Text()
    fare = columns.Float()
    name = columns.Text()
    parch = columns.Integer()
    sibsp = columns.Integer()
    ticket = columns.Text()

In [14]:
# Viene create una tabella dal nome uguale al modello
# all'interno del keyspace di default della connessione

sync_table(Passengers)

In [15]:
# importiamo i dati richiamando cqlsh da sistema
import os

os.system("cqlsh -k titanic -e \"COPY passengers (pid , survived , pclass , name , sex , age , sibsp , parch , ticket , fare , cabin , embarked ) FROM 'Data/titanic.csv' WITH SKIPROWS = 1\"")

0

In [16]:
# eseguiamo operazioni di insert
Passengers.create(survived=1,pclass=1,sex='male',pid=892,age=45.0,cabin='Z76',embarked='S',fare=123.456,name='John Smith',parch=2,sibsp=1,ticket='TiketOne')

Passengers(survived=1, pclass=1, sex='male', pid=892, age=45.0, cabin='Z76', embarked='S', fare=123.456, name='John Smith', parch=2, sibsp=1, ticket='TiketOne')

In [17]:
# manipoliamo gli oggetti della tabella attraverso la classe model
# che consente di fare query e update
Passengers.objects.count()

892

In [18]:
# l'operazione di update dev'essere fatta selezionando l'intera chiave primaria

Passengers.objects(survived=1,pclass=1,sex='male',pid=892).update(ticket='VivaTicket')

In [19]:
q = Passengers.objects.filter(survived=1,pclass__in=[1,2],sex='female')

for passenger in q:
    print(passenger.name,passenger.age,sep='\n',end='\n---------------\n')

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
38.0
---------------
Futrelle, Mrs. Jacques Heath (Lily May Peel)
35.0
---------------
Bonnell, Miss. Elizabeth
58.0
---------------
Spencer, Mrs. William Augustus (Marie Eugenie)
None
---------------
Harper, Mrs. Henry Sleeper (Myna Haxtun)
49.0
---------------
Icard, Miss. Amelie
38.0
---------------
Fortune, Miss. Mabel Helen
23.0
---------------
Newsom, Miss. Helen Monypeny
19.0
---------------
Pears, Mrs. Thomas (Edith Wearne)
22.0
---------------
Chibnall, Mrs. (Edith Martha Bowerman)
None
---------------
Brown, Mrs. James Joseph (Margaret Tobin)
44.0
---------------
Lurette, Miss. Elise
58.0
---------------
Newell, Miss. Madeleine
31.0
---------------
Bazzani, Miss. Albina
32.0
---------------
Harris, Mrs. Henry Birkhardt (Irene Wallach)
35.0
---------------
Thorne, Mrs. Gertrude Maybelle
None
---------------
Cherry, Miss. Gladys
30.0
---------------
Ward, Miss. Anna
35.0
---------------
Graham, Mrs. William Thompson (Edith Junkins)
58.0
---------------
Bissette, Miss. Amelia
35.0
---------------
Andrews, Miss. Kornelia Theodosia
63.0
---------------
Barber, Miss. Ellen "Nellie"""
26.0
---------------
Bishop, Mrs. Dickinson H (Helen Walton)
19.0
---------------
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
50.0
---------------
Fleming, Miss. Margaret
None
---------------
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
17.0
---------------
Francatelli, Miss. Laura Mabel
30.0
---------------
Hays, Miss. Margaret Bechstein
24.0
---------------
Ryerson, Miss. Emily Borie
18.0
---------------
Wick, Miss. Mary Natalie
31.0
---------------
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
40.0
---------------
Young, Miss. Marie Grice
36.0
---------------
Hippach, Miss. Jean Gertrude
16.0
---------------
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
None
---------------
Burns, Miss. Elizabeth Margaret
41.0
---------------
Fortune, Miss. Alice Elizabeth
24.0
---------------
Bowerman, Miss. Elsie Edith
22.0
---------------
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
60.0
---------------
Aubart, Mme. Leontine Pauline
24.0
---------------
Meyer, Mrs. Edgar Joseph (Leila Saks)
None
---------------
Bidois, Miss. Rosalie
42.0
---------------
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
35.0
---------------
Newell, Miss. Marjorie
23.0
---------------
Minahan, Miss. Daisy E
33.0
---------------
Carter, Miss. Lucile Polk
14.0
---------------
Kenyon, Mrs. Frederick R (Marion)
None
---------------
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
35.0
---------------
Eustis, Miss. Elizabeth Mussey
54.0
---------------
Maioni, Miss. Roberta
16.0
---------------
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
54.0
---------------
Perreault, Miss. Anne
30.0
---------------
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
44.0
---------------
LeRoy, Miss. Bertha
30.0
---------------
Frolicher, Miss. Hedwig Margaritha
22.0
---------------
Crosby, Miss. Harriet R
36.0
---------------
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan"")"
48.0
---------------
Taussig, Mrs. Emil (Tillie Mandelbaum)
39.0
---------------
Appleton, Mrs. Edward Dale (Charlotte Lamson)
53.0
---------------
Silvey, Mrs. William Baird (Alice Munger)
39.0
---------------
Thayer, Mrs. John Borland (Marian Longstreth Morris)
39.0
---------------
Taussig, Miss. Ruth
18.0
---------------
Stephenson, Mrs. Walter Bertram (Martha Eustis)
52.0
---------------
Shutes, Miss. Elizabeth W
40.0
---------------
Longley, Miss. Gretchen Fiske
21.0
---------------
Sagesser, Mlle. Emma
24.0
---------------
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
None
---------------
Madill, Miss. Georgette Alexandra
15.0
---------------
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
18.0
---------------
Cleaver, Miss. Alice
22.0
---------------
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers"")"
24.0
---------------
Endres, Miss. Caroline Louise
38.0
---------------
Allen, Miss. Elisabeth Walton
29.0
---------------
Ryerson, Miss. Susan Parker "Suzette"""
21.0
---------------
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
33.0
---------------
Carter, Mrs. William Ernest (Lucile Polk)
36.0
---------------
Hogeboom, Mrs. John C (Anna Andrews)
51.0
---------------
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
43.0
---------------
Dick, Mrs. Albert Adrian (Vera Gillespie)
17.0
---------------
Leader, Dr. Alice (Farnham)
49.0
---------------
Chambers, Mrs. Norman Campbell (Bertha Griggs)
33.0
---------------
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
52.0
---------------
Stone, Mrs. George Nelson (Martha Evelyn)
62.0
---------------
Compton, Miss. Sara Rebecca
39.0
---------------
Serepeca, Miss. Augusta
30.0
---------------
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
None
---------------
Lines, Miss. Mary Conover
16.0
---------------
Wick, Mrs. George Dennick (Mary Hitchcock)
45.0
---------------
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
48.0
---------------
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
47.0
---------------
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
56.0
---------------
Graham, Miss. Margaret Edith
19.0
---------------
Nasser, Mrs. Nicholas (Adele Achem)
14.0
---------------
Hewlett, Mrs. (Mary D Kingcome)
55.0
---------------
Laroche, Miss. Simonne Marie Anne Andree
3.0
---------------
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
29.0
---------------
Rugg, Miss. Emily
21.0
---------------
West, Miss. Constance Mirium
5.0
---------------
Nye, Mrs. (Elizabeth Ramell)
29.0
---------------
Ilett, Miss. Bertha
17.0
---------------
Doling, Mrs. John T (Ada Julia Bone)
34.0
---------------
Webber, Miss. Susan
32.5
---------------
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
29.0
---------------
Watt, Mrs. James (Elizabeth "Bessie"" Inglis Milne)"
40.0
---------------
Pinsky, Mrs. (Rosa)
32.0
---------------
Cameron, Miss. Clear Annie
35.0
---------------
Collyer, Miss. Marjorie "Lottie"""
8.0
---------------
Hamalainen, Mrs. William (Anna)
24.0
---------------
Parrish, Mrs. (Lutie Davis)
50.0
---------------
Mellinger, Mrs. (Elizabeth Anne Maidment)
41.0
---------------
Keane, Miss. Nora A
None
---------------
Kantor, Mrs. Sinai (Miriam Sternin)
24.0
---------------
Slayter, Miss. Hilda Mary
30.0
---------------
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
22.0
---------------
Ball, Mrs. (Ada E Hall)
36.0
---------------
Brown, Miss. Amelia "Mildred"""
24.0
---------------
Smith, Miss. Marion Elsie
40.0
---------------
Buss, Miss. Kate
36.0
---------------
Lehmann, Miss. Bertha
17.0
---------------
Trout, Mrs. William H (Jessie L)
28.0
---------------
Drew, Mrs. James Vivian (Lulu Thorne Christian)
34.0
---------------
Silven, Miss. Lyyli Karoliina
18.0
---------------
Clarke, Mrs. Charles V (Ada Maria Winfield)
28.0
---------------
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall"")"
19.0
---------------
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
42.0
---------------
Richards, Mrs. Sidney (Emily Hocking)
24.0
---------------
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
45.0
---------------
Reynaldo, Ms. Encarnacion
28.0
---------------
Mellinger, Miss. Madeleine Violet
13.0
---------------
Toomey, Miss. Ellen
50.0
---------------
West, Mrs. Edwy Arthur (Ada Mary Worth)
33.0
---------------
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
23.0
---------------
Quick, Mrs. Frederick Charles (Jane Richards)
33.0
---------------
Lemore, Mrs. (Amelia Milley)
34.0
---------------
Angle, Mrs. William A (Florence "Mary"" Agnes Hughes)"
36.0
---------------
Ridsdale, Miss. Lucy
50.0
---------------
Quick, Miss. Phyllis May
2.0
---------------
Hart, Miss. Eva Miriam
7.0
---------------
Beane, Mrs. Edward (Ethel Clarke)
19.0
---------------
Garside, Miss. Ethel
34.0
---------------
Christy, Miss. Julie Rachel
25.0
---------------
Leitch, Miss. Jessie Wills
None
---------------
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
24.0
---------------
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
22.0
---------------
Herman, Miss. Alice
24.0
---------------
Becker, Miss. Marion Louise
4.0
---------------
Davis, Miss. Mary
28.0
---------------
Doling, Miss. Elsie
18.0
---------------
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
40.0
---------------
Kelly, Mrs. Florence "Fannie"""
45.0
---------------
Troutt, Miss. Edwina Celia "Winnie"""
27.0
---------------
Harper, Miss. Annie Jessie "Nina"""
6.0
---------------
Renouf, Mrs. Peter Henry (Lillian Jefferys)
30.0
---------------
Sinkkonen, Miss. Anna
30.0
---------------
Wells, Miss. Joan
4.0
---------------
Herman, Mrs. Samuel (Jane Laver)
48.0
---------------
Hocking, Mrs. Elizabeth (Eliza Needs)
54.0
---------------
Collyer, Mrs. Harvey (Charlotte Annie Tate)
31.0
---------------
Bystrom, Mrs. (Karolina)
42.0
---------------
Duran y More, Miss. Asuncion
27.0
---------------
Abelson, Mrs. Samuel (Hannah Wizosky)
28.0
---------------
Shelley, Mrs. William (Imanita Parrish Hall)
25.0
---------------

In [23]:
# non funziona perché bisogna etichettare cabin come indice
# al momento della creazione della tabella

os.system("cqlsh -k titanic -e \"CREATE INDEX cabin_idx ON passengers(cabin)\"")

q = Passengers.objects.filter(survived=1,pclass__in=[1,2],sex='female',cabin__like='C%')

for passenger in q:
    print(passenger.name,passenger.age,sep='\n',end='\n---------------\n')

InvalidRequest: Error from server: code=2200 [Invalid query] message="LIKE restriction is only supported on properly indexed columns. cabin LIKE 'C%' is not valid."

In [20]:
# aggregazione con valori medi -- fuori dal driver
# tasso di sopravvivenza

females_1_class=Passengers.objects(survived=1,pclass=1,sex='female').count() / Passengers.objects.filter(pclass=1,sex='female').allow_filtering().count()
females_1_class

0.9680851063829787

In [21]:
# Età media

q = Passengers.objects(survived=1,pclass=1,sex='female')
avg_age = 0

for item in q:
    if item.age != None:
        avg_age+=item.age

avg_age /= len(q)
avg_age

31.483516483516482